Django==6.1
djangorestframework==3.18.0
django-cors-headers==4.9.0
django-filter==26.1
django-tasks==0.12.0
django-tasks-db==0.13.0
psycopg[binary]==3.3.4
whitenoise==6.12.0
python-dotenv==1.2.3
requests==2.34.2
gunicorn==26.2.0
gevent==26.8.0
packaging==26.3
